.page {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 70px;
  background-color: var(--Black);
  border-radius: 16px;

  color: white;
  padding: 25px 0 0 40px;

  margin-top: 40px;
}

.infoBanner {
  height: 260px;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-100);

  margin-top: 80px;
}

.itempart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;

  padding: 40px 120px 0;
}

.itemimage {
  height: 220px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}

.name {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  color: var(--Grayscale-800);
  max-width: 450px;
}

.region {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--Grayscale-500);
  padding: 8px 0 0 0;
}

.price {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  font-weight: 700;
  color: var(--Primary-Purple-100);

  width: fit-content;
  padding: 8px 15px;
  border-radius: 12px;
  background-color: var(--Primary-Purple-10-percent);
}

.body {
  display: flex;
  gap: 30px;
  padding-top: 100px;
}

.reviewList {
  width: 800px;
  height: 1500px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statics {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.giveReview {
  width: fit-content;
  height: 42px;
  padding: 0 20px;
  border-radius: 12px;
  background-color: var(--Primary-Purple-100);
  color: var(--White);
  font-size: 16px;
  font-weight: 700;
}
