.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 100vh;
}

.card {
  width: 496px;
  height: 803px; 
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 80px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  margin-bottom: 64px;
}

.label{
  font-weight: 500;
  color: #2d3034;
  display: block;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField {
  padding: 14px 20px;
  width: 400px;
  height: 48px;
  border: 1px solid #cfdbea;
  border-radius: 16px;
  margin-bottom: 8px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  height: 20px;
}

.errorMessageTempSpace {
  height: 40px;
}

.signupBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 56px 32px;
}

.signupBtn {
  width: 400px;
  height: 50px;
  border-radius: 16px;
  color: #ffffff;
  background-color: #6a42db;
}

.socialBtn{
  width: 400px;
  height: 50px;
  border: 1px solid #CFDBEA;
  border-radius: 16px;
  color: #2D3034;
  background-color: #ffffff;
}

.signupArea {
  display: flex;
  gap: 10px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  color: #9facbd;
}

.linkButton {
  text-decoration: underline;
}

.lostButton {
  margin-top: 16px;
}

.lostButton,.linkButton {
  color: #6a42db;
}