.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 100vh;
}

.card {
  width: 496px;
  height: 803px; 
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 80px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  margin-bottom: 64px;
}

.label{
  font-weight: 500;
  color: #2d3034;
  display: block;
  margin-bottom: 8px;
}

.inputField {
  width: 400px;
  height: 48px;
  border: 1px solid #cfdbea;
  border-radius: 16px;
  margin-bottom: 32px;
}

.signupBtn {
  width: 400px;
  height: 50px;
  border-radius: 16px;
  color: #ffffff;
  background-color: #6a42db;
  margin-bottom: 40px;
}

.loginArea {
  display: flex;
  gap: 10px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  color: #9facbd;
}

.linkButton {
  color: #6a42db;
  text-decoration: underline;
}