:root {
  --Black: #101318;
  --White: #ffffff;
  --Grayscale-100: #f2f4f8;
  --Grayscale-300: #cfdbea;
  --Grayscale-500: #9facbd;
  --Grayscale-800: #2d3034;
  --Primary-Purple-100: #6a42db;
  --Primary-Purple-10-percent: #f1edfc; 
}
